.profile {
  color: #928ea0;
  border-radius: 8px;
  border: 1px solid;

  border-image-source: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.12) 0%,
    rgba(255, 255, 255, 0.09) 100%
  );

  margin: 0 5px 50px;
  padding-bottom: 30px;
  background: linear-gradient(
    132.25deg,
    rgba(255, 255, 255, 0.15) -17.8%,
    rgba(255, 255, 255, 0) 109.28%
  );
}

.logout {
  margin-left: 15px;
  width: 38%;
}

.logout:hover {
  cursor: pointer;
  color: #ffffff;
}

.logout p {
  position: relative;
  bottom: 3px;
}
