.label {
  display: flex;
  width: 300px;
  color: #8a92a6;
  border: 1px solid rgba(231, 232, 242, 1);
  padding: 15px;
  justify-content: space-between;
  margin-left: 12px;
  background: #f8f8fc;
}

.label span {
  cursor: pointer;
}

.user {
  color: #8a92a6;
  border: 1px solid rgba(231, 232, 242, 1);
}

.icon {
  font-size: 1.2rem;
  position: relative;
  top: -4px;
}

.station {
  opacity: 0.64;
}
