.menu {
  list-style: none;
  color: rgba(54, 64, 102, 0.4);
}
.menuItem {
  border-bottom: 2px solid white;
}
.menuItem:hover {
  border-bottom: 2px solid rgba(82, 72, 172, 1);
  color: rgba(82, 72, 172, 1);
  cursor: pointer;
  background: linear-gradient(
      0deg,
      rgba(163, 163, 217, 0.16),
      rgba(163, 163, 217, 0.16)
    ),
    #ffffff;
}
