.sidebar {
  width: 20%;
  background: radial-gradient(
      151.88% 64.7% at 0% 35.3%,
      rgba(83, 83, 83, 0.64) 0.55%,
      rgba(0, 0, 0, 0.64) 100%
    )
    #364066;

  box-shadow: 0px 10px 17px rgba(54, 64, 102, 0.35);
}
